
body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: Arial, sans-serif;
    margin: auto;
    display: flex ;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
    padding: 10px;
    
}

form {
    background-color: var(--color2);
    border: 2px solid var(--color3);
    border-radius: 15px;
    padding: 40px;
    
    margin: auto;
    font-family: Arial, sans-serif;
    color: var(--color1);
}

form input, form button {
    display: block;
    width: 97%;
    margin-bottom: 13px;
    padding: 10px;
    border: 1px solid var(--color3);
    border-radius: 8px;
    font-size: 14px;
}

form input:focus {
    outline: none;
    border-color: var(--color4);
    box-shadow: 0 0 5px var(--color4);
}

form button {
    background-color: var(--color4);
    color: var(--color2);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: var(--color5);
}

:root {
    --color1: #444444;
    --color2: #fcf7d1;
    --color3: #a9a17a;
    --color4: #b52c00;
    --color5: #8c0005;
  }


fieldset {
    border: 2px solid var(--color2);
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    
}
